.testimonials-container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: start;
}

.testimonial-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.testimonial {
  padding: 1rem;
  box-sizing: border-box;
}

/* Media queries for smaller screens */
@media (max-width: 1200px) {
  .testimonial-column {
    flex: 1 1 calc(50% - 1rem);
  }
}

@media (max-width: 768px) {
  .testimonial-column {
    flex: 1 1 100%;
  }
}
