.testimonials-container {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: start;
}

.testimonial-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem; /* Add some spacing between testimonials */
}

.testimonial {
  padding: 1rem;
  box-sizing: border-box;
}

/* Media queries for smaller screens */
@media (max-width: 1200px) {
  .testimonial-column {
    flex: 1 1 calc(50% - 1rem); /* Two columns on medium-large screens */
  }
}

@media (max-width: 768px) {
  .testimonial-column {
    flex: 1 1 100%; /* Full width on medium-small screens */
  }
}
